@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Mono:wght@100;400;500;700&display=swap");
:root {
  --primary-bg-color: #6998AB;
    --secondary-bg-color: #1A374D;
    --primary-color: #406882;
    --secondary-color: #1A374D;
    --color-2: #B1D0E0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--primary-bg-color);
}

a {
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  padding: 5em 2em;
}

.nav-bar {
  background: white;
  padding: 1em;
}
.nav-bar .logo {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
.nav-bar span {
  color: var(--primary-color);
}
.nav-bar nav {
  display: none;
}
.nav-bar nav.menu-btn {
  display: block;
  position: fixed;
  z-index: 999;
  width: 66%;
  top: 0;
  right: 0;
  background: var(--secondary-bg-color);
  height: 100vh;
  padding: 1em;
}
.nav-bar nav.menu-btn img.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
.nav-bar nav.menu-btn ul.primary-nav {
  margin-top: 5em;
}
.nav-bar nav.menu-btn li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
.nav-bar nav.menu-btn li a:hover {
  font-weight: bold;
}
.nav-bar .container {
  display: flex;
  place-content: space-between;
}
.nav-bar .mobile-menu {
  cursor: pointer;
}

.hero {
  text-align: center;
}
.hero .left-col .sub-head {
  color: rgba(76, 70, 70, 0.79);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3em;
}
.hero .left-col h1 {
  line-height: 1.3em;
  margin: 0.2em 0 0.2em 0;
  font-size: 2.5em;
}
.hero .left-col .primary-cta {
  background: var(--primary-color);
  text-decoration: none;
  color: white;
  padding: 0.6em 1.3em;
  border-radius: 5em;
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block;
}
.hero .left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}
.hero .left-col .watch-video-cta img {
  margin-right: 0.5em;
}
.hero .hero-img {
  width: 70%;
  margin-top: 3em;
}

.features-section {
  background: var(--secondary-bg-color);
  color: white;
}
.features-section ul.features-list {
  margin: 0;
  padding-left: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
.features-section ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}
.features-section ul.features-list li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../images/bullet.svg);
  background-size: contain;
  margin-right: 0.5em;
}
.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
}
.testimonials-section li {
  text-align: center;
  background: #b1d0e094;
  width: 80%;
  padding: 2em 1em;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}
.testimonials-section li img {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  margin-top: -4.5em;
}

.contact-section h2 {
  font-size: 2em;
}
.contact-section label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.contact-section input, .contact-section textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid gray;
  border-radius: 0.3em;
  box-sizing: border-box;
}
.contact-section input[type=submit] {
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 5em;
  margin-bottom: 5em;
  padding: 0.8em 2em;
  display: inline-block;
  width: unset;
  cursor: pointer;
}
.contact-section iframe {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .nav-bar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .nav-bar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .nav-bar nav ul {
    display: flex;
  }
  .nav-bar nav a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    padding: 0.1em 1em;
  }
  .nav-bar nav a:hover {
    font-weight: bold;
  }
  .nav-bar nav ul.primary-nav {
    margin: 0;
  }
  .nav-bar nav li.current a {
    font-weight: bold;
  }
  .nav-bar nav li.go-premium-cta a {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .nav-bar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero .hero-cta {
    margin-top: 2.5em;
    display: flex;
  }
  .hero .hero-cta .primary-cta {
    margin-right: 1em;
  }
  .features-section {
    position: relative;
  }
  .features-section ul.features-list {
    display: block;
  }
  .features-section ul.features-list li {
    font-size: 1.4em;
  }
  .features-section ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials-section ul {
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: flex;
  }
  .contact-section .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-section .contact-right iframe {
    height: 100%;
  }
}
@media only screen and (min-width: 1450px) {
  .features-section:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}/*# sourceMappingURL=main.css.map */
